// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: rgb(67, 13, 112); // Event Indigo
$purple: #9561e2;
$pink: #f66d9b;
$red: #B33A3A; // Warning red
$orange: rgb(235, 87, 63); // Event Orange
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: rgb(48, 180, 215); // Event Cyan

// Bootstrap Colors
$primary: $orange;
$secondary: $indigo;
$danger: $red;
$warning: rgba(255, 9, 0, 0.5);
$success: rgba(0, 255, 0, 0.5);
$info: rgba(0, 255, 255, 0.5);

.grecaptcha-badge { visibility: hidden; }
